/logs
target/
node_modules/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
*.log
.project
.settings
.classpath
.factorypath
.springBeans
.apt_generated

### IntelliJ IDEA ###
.mvn
.idea
*.iws
*.iml
*.ipr
mvnw*

### Mac System
.DS_Store
